In [1]:
S1 = {}

In [2]:
S1

{}

In [3]:
type(S1)

dict

In [5]:
# for empty set

S1 = set()

In [6]:
S1

set()

In [7]:
type(S1)

set

In [8]:
S1 = {1, 2, 3, 4, 5}
S2 = {'Hello', 3.5, True}

In [9]:
# Sets do not allow duplicates

S3 = {1, 1, 2, 2, 3, 3}
S3

{1, 2, 3}

In [10]:
# Sets dont allow mutable data types

S4 = {[1, 2, 4], 'Hello'}

TypeError: unhashable type: 'list'

In [17]:
S4 = {(1,2,3),"Hello"}
S4

{(1, 2, 3), 'Hello'}

In [18]:
S4

{(1, 2, 3), 'Hello'}

In [19]:
# S4 will be created as tuples are immutable

# Sets follow hashing not indexing

In [20]:
# 2D sets not possible

S5 = {{1,2}}

TypeError: unhashable type: 'set'

In [21]:
# Acess Items

S2

{3.5, 'Hello', True}

In [22]:
S1

{1, 2, 3, 4, 5}

In [23]:
S1[0]

TypeError: 'set' object is not subscriptable

In [24]:
S1 [-1]

TypeError: 'set' object is not subscriptable

In [25]:
# Edit Items ??

In [26]:
S1

{1, 2, 3, 4, 5}

In [27]:
id(S1)

2740599746656

In [28]:
L = list(S1)

In [29]:
L[0] = 19

In [30]:
S1 = set(L)

In [31]:
id(S1)

2740606324960

In [32]:
S1

{2, 3, 4, 5, 19}

In [33]:
# We cannot edit sets, as items cant be accessed we cant edit them either

In [35]:
# Add

S1.add(6)

In [36]:
S1

{2, 3, 4, 5, 6, 19}

In [37]:
id(S1)

2740606324960

In [38]:
# means addition is possible as it is mutable data type

In [39]:
# Delete

#del
#remove
#pop

del S2

In [40]:
S2

NameError: name 'S2' is not defined

In [41]:
del S1[0] # no indexing

TypeError: 'set' object doesn't support item deletion

In [42]:
#remove

S1.remove(19)

In [43]:
id(S1)

2740606324960

In [44]:
# pop

S1.pop()
S1

{3, 4, 5, 6}

In [45]:
S1.pop()

3