In [1]:
#Common Functions: len max min sorted

In [2]:
c = "kolkata"
len(c)

7

In [3]:
max(c)

't'

In [4]:
min(c)

'a'

In [5]:
sorted(c)

['a', 'a', 'k', 'k', 'l', 'o', 't']

In [6]:
sorted(c, reverse = True)

['t', 'o', 'l', 'k', 'k', 'a', 'a']

In [7]:
# Capitalize/ Upper/ Lower/ Swapacase/ TItle

c

'kolkata'

In [8]:
c.capitalize()

'Kolkata'

In [9]:
#Original string will remain same tho !!

In [10]:
"it is raining".capitalize()

'It is raining'

In [11]:
#First alphabet capital

In [12]:
"Let's go to school".title()

"Let'S Go To School"

In [13]:
c.title()

'Kolkata'

In [15]:
c.upper()

'KOLKATA'

In [16]:
c.lower()

'kolkata'

In [17]:
"KoLkaTA".swapcase()

'kOlKAta'

In [18]:
# Count Function

"It is delicious".count("i")

3

In [19]:
 "It is delicious".count("ss")

0

In [20]:
"It is delicious".count("is")

1

In [21]:
# Find / Index

"it is raining".find("i")

0

In [22]:
#tells first occurence

In [23]:
"it is raining".find("rain")

6

In [24]:
"it is raining".find("x")

-1

In [25]:
# endswith / startswith function

"It is raining".endswith("ing")

True

In [26]:
"It is raining".startswith("ti")

False

In [27]:
#format function

"Hi My name is {} and I am {}".format('Nitish', 30)

'Hi My name is Nitish and I am 30'

In [28]:
"Hi My name is {1} and I am {0}".format('Nitish', 30)

'Hi My name is 30 and I am Nitish'

In [29]:
"Hi My name is {name} and I am {age}".format(name = 'Nitish',age =  30)

'Hi My name is Nitish and I am 30'

In [30]:
"Hi My name is {weight} and I am {age}".format(name = 'Nitish',age =  30, weight = 80)

'Hi My name is 80 and I am 30'

In [31]:
"Hi My name is {name} and I am {name}".format(name = 'Nitish',age =  30)

'Hi My name is Nitish and I am Nitish'

In [32]:
# isalnum: alphanumeric 
# isalpha: alphabet
# isdecimal: decimal
# is digit: digit
# isidentifier:

In [33]:
"Flat20".isalnum()

True

In [34]:
"Flat20&".isalnum()

False

In [35]:
"Flat".isalpha()

True

In [36]:
"20".isalpha()

False

In [37]:
"20".isdigit()

True

In [38]:
"20a".isdigit()

False

In [39]:
"hello world".isidentifier()

False

In [41]:
"hell_".isidentifier()

True

In [42]:
# SPLIT Function

"Who is the Prime Minister of India.".split()

['Who', 'is', 'the', 'Prime', 'Minister', 'of', 'India.']

In [43]:
# On quora they split the question and convert the words into tags and then recommends the solutions

In [44]:
"Who is the Prime Minister of India.".split("P")

['Who is the ', 'rime Minister of India.']

In [48]:
"Who is the Prime Minister of India.".split()

['Who', 'is', 'the', 'Prime', 'Minister', 'of', 'India.']

In [45]:
"Who is the Prime Minister of India.".split("the")

['Who is ', ' Prime Minister of India.']

In [47]:
"Who is the Prime Minister of India.".split('i')

['Who ', 's the Pr', 'me M', 'n', 'ster of Ind', 'a.']

In [49]:
# JOIN Function

" ".join(['Who', 'is', 'the', 'Prime', 'Minister', 'of', 'India.'])

'Who is the Prime Minister of India.'

In [50]:
"@".join(['Who', 'is', 'the', 'Prime', 'Minister', 'of', 'India.'])

'Who@is@the@Prime@Minister@of@India.'

In [51]:
"/".join(['Who', 'is', 'the', 'Prime', 'Minister', 'of', 'India.'])

'Who/is/the/Prime/Minister/of/India.'

In [53]:
"-".join(['Who', 'is', 'the', 'Prime', 'Minister', 'of', 'India.'])

'Who-is-the-Prime-Minister-of-India.'

In [54]:
# REPLACE Function

"Hi my name is Nitish".replace("Nitish", "Soophie")

'Hi my name is Soophie'

In [55]:
# STRIP Function

name = "            Sam      "
name

'            Sam      '

In [56]:
"Hi" + name

'Hi            Sam      '

In [57]:
name.strip()

'Sam'

In [ ]:
#spaces removed from front and back

#used to fix user input if have any spaced