In [1]:
# Create

D = {}
D

{}

In [2]:
D = {"Name": "Sam", "Gender": "Male"}

In [3]:
D

{'Name': 'Sam', 'Gender': 'Male'}

In [4]:
D1 = {[1, 2, 3]: "Sam"}

TypeError: unhashable type: 'list'

In [5]:
D1 = {(1, 2, 3): "Sam"}

In [6]:
# Keys should be immutable and unique

D2 = {"Name": "Rahul", "Name": "Nitish"}

In [7]:
D2

{'Name': 'Nitish'}

In [8]:
D3 = {"Name": "Rohit", "College": "HIT", "Marks": {"M1": 56, "M2": 72, "M3": 45}}

In [9]:
D3

{'Name': 'Rohit', 'College': 'HIT', 'Marks': {'M1': 56, 'M2': 72, 'M3': 45}}

In [10]:
D1

{(1, 2, 3): 'Sam'}

In [11]:
D

{'Name': 'Sam', 'Gender': 'Male'}

In [12]:
D[0]

KeyError: 0

In [13]:
# values cant be fetched by indexes, we need keys to get values

D['Name']

'Sam'

In [14]:
D['Gender']

'Male'

In [15]:
D3

{'Name': 'Rohit', 'College': 'HIT', 'Marks': {'M1': 56, 'M2': 72, 'M3': 45}}

In [16]:
D3 ['Marks']['M3']  # Getting values in 2D dictionaries.

45

In [17]:
#Edit

In [18]:
D

{'Name': 'Sam', 'Gender': 'Male'}

In [19]:
D['Name'] = "Rai"

In [20]:
D

{'Name': 'Rai', 'Gender': 'Male'}

In [21]:
D3 ['Marks']['M2'] = '58'

In [22]:
D3

{'Name': 'Rohit', 'College': 'HIT', 'Marks': {'M1': 56, 'M2': '58', 'M3': 45}}

In [23]:
D.get('Name')

'Rai'

In [24]:
# Addition of new key value pairs

In [25]:
D

{'Name': 'Rai', 'Gender': 'Male'}

In [26]:
D ['Age'] = 25

In [27]:
D

{'Name': 'Rai', 'Gender': 'Male', 'Age': 25}

In [28]:
D3['Marks']['M4'] = 50

In [29]:
D3

{'Name': 'Rohit',
 'College': 'HIT',
 'Marks': {'M1': 56, 'M2': '58', 'M3': 45, 'M4': 50}}

In [30]:
# Delete

In [31]:
D5 = {}

In [32]:
del D5

In [33]:
D5

NameError: name 'D5' is not defined

In [34]:
D

{'Name': 'Rai', 'Gender': 'Male', 'Age': 25}

In [35]:
del D['Gender']

In [36]:
D

{'Name': 'Rai', 'Age': 25}

In [37]:
D.clear()

In [38]:
D

{}

In [39]:
D3

{'Name': 'Rohit',
 'College': 'HIT',
 'Marks': {'M1': 56, 'M2': '58', 'M3': 45, 'M4': 50}}