In [2]:
D = {}

In [3]:
D1 = {(1, 2, 3), 'Sam'}

In [4]:
D2 = {'Name': 'Sam'}

In [5]:
D3 = {'Name': 'Rohit',
 'College': 'HIT',
 'Marks': {'M1': 56, 'M2': '58', 'M3': 45, 'M4': 50}}

In [6]:
D1 + D2

TypeError: unsupported operand type(s) for +: 'set' and 'dict'

In [7]:
D1*2

TypeError: unsupported operand type(s) for *: 'set' and 'int'

In [8]:
for i in D3:
    print(i)

Name
College
Marks

In [9]:
# Only keys are printed, not values

for i in D3:
    print(i, D3[i])

Name Rohit
College HIT
Marks {'M1': 56, 'M2': '58', 'M3': 45, 'M4': 50}

In [10]:
D3

{'Name': 'Rohit',
 'College': 'HIT',
 'Marks': {'M1': 56, 'M2': '58', 'M3': 45, 'M4': 50}}

In [11]:
'Rohit' in D3

False

In [12]:
'Name' in D3

True

In [13]:
# Only keys are known

In [14]:
len(D3)

3

In [15]:
min(D3)

'College'

In [16]:
max (D3)

'Name'

In [17]:
sorted(D3)

['College', 'Marks', 'Name']

In [18]:
sorted(D3, reverse= True)

['Name', 'Marks', 'College']

In [19]:
D3.keys()

dict_keys(['Name', 'College', 'Marks'])

In [20]:
D3.values()

dict_values(['Rohit', 'HIT', {'M1': 56, 'M2': '58', 'M3': 45, 'M4': 50}])