In [1]:
#empty tuple
T = ()
T

()

In [2]:
# Homogeneous Tuple

T = (1, 2, 3, 4, 5)
T

(1, 2, 3, 4, 5)

In [3]:
T

(1, 2, 3, 4, 5)

In [4]:
T2 = (1, 2, 3, "Hello", 5.6)

In [5]:
T2

(1, 2, 3, 'Hello', 5.6)

In [6]:
#2D tuple

T3 = (1, 2, 3, (4, 5))

In [7]:
# single element does not make a tuple
T5 = (1)
type(T5)

int

In [8]:
T5 = ('Hello')
type(T5)

str

In [9]:
# TO make a tuple of single element, we use comma after the element ends 

T5 = (1,)
type(T5)

tuple

In [10]:
T5 = ('Hello',)
type(T5)

tuple

In [12]:
T6 = tuple("Goa")

In [13]:
type(T6)

tuple

In [14]:
T6

('G', 'o', 'a')

In [1]:
T5 = tuple([1, 2, 3, 4, 5])

In [2]:
T5

(1, 2, 3, 4, 5)

In [5]:
T5[0]

1

In [6]:
T5[-1]

5

In [7]:
# Editing cant be done as they are immutable!!